.elements{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.card{
    max-width: 25rem;
    width: 400px;
    font-family: 'Edu SA Beginner', cursive;
    border-radius: 8px;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.3);
}
.card-header{
    display: flex; 
    justify-content: center;
    /* font-family: 'Edu SA Beginner', cursive; */
}
.card-title{
    display: flex; 
    justify-content: center;
    /* font-family: 'Edu SA Beginner', cursive; */
}